## Importing PWE and other essentials

In [1]:
from PW_explorer.run_clingo import run_clingo
from PW_explorer.load_worlds import load_worlds
from PW_explorer.pwe_query import PWEQuery
from PW_explorer.pwe_helper import pw_slicer, rel_slicer
from PW_explorer.time_series import PWETimeSeriesModule
import pandas as pd
import numpy as np
import PW_explorer as pwe

## Formulating the Towers of Hanoi Problem

This is the towers of Hanoi instance

In [2]:
with open('clingo_files/toh_ins.lp') as f:
    toh_instance = list(map(str.strip, f.readlines()))
print("\n".join(toh_instance))

% -*- Mode: Prolog -*-

#const num_disks=3.
% define peg(PEG)
peg(a;b;c).
% define disk(DISK)
disk(1..num_disks).
% define init_on(DISK, PEG)
init_on(1..num_disks,a).
% define goal_on(DISK, PEG)
goal_on(1..num_disks,c).
moves(7).

This is the encoding of the rules of the game

In [3]:
with open('clingo_files/toh_enc.lp') as f:
    toh_encoding = list(map(str.strip, f.readlines()))
print("\n".join(toh_encoding))

% -*- Mode: Prolog -*-

% Generate
{ move(T,D,P) : disk(D), peg(P) } = 1 :- moves(M),  T = 1..M.
% define move(TIME, DISK)
% temporal move(T,_)
% define move(TIME, DISK, PEG)
% temporal move(T,_,_)
% define on(TIME, DISK, PEG)
% temporal on(T,_,_)
% define blocked(TIME, DISK, PEG)
% temporal blocked(T,_,_)
move(T,D)   :- move(T,D,_).
on(0,D,P)   :- init_on(D,P).
on(T,D,P)   :- move(T,D,P).
on(T+1,D,P) :- on(T,D,P), not move(T+1,D), not moves(T).
blocked(T+1,D-1,P) :- on(T,D,P), not moves(T).
blocked(T,D-1,P)   :- blocked(T,D,P), disk(D).
% Test
:- move(T,D,P), blocked(T,D-1,P).
:- move(T,D), on(T-1,D,P), blocked(T,D,P).
:- goal_on(D,P), not on(M,D,P), moves(M).
:- { on(T,D,P) } != 1, disk(D), moves(M), T = 1..M.
%% % Display
%% #show move/3.

In [4]:
clingo_rules = toh_encoding+toh_instance

Running this carefully constructed to yield exactly one PW example with clingo

In [5]:
clingo_soln, meta_data = run_clingo(clingo_rules=clingo_rules)
print('\n'.join(clingo_soln))

Answer: 1
disk(1) disk(2) disk(3) peg(a) peg(b) peg(c) moves(7) init_on(1,a) init_on(2,a) init_on(3,a) on(0,1,a) on(0,2,a) on(0,3,a) blocked(1,0,a) blocked(1,1,a) blocked(1,2,a) goal_on(1,c) goal_on(2,c) goal_on(3,c) on(1,1,a) on(1,2,a) blocked(2,0,a) blocked(2,1,a) move(1,3) move(1,3,c) move(2,2) move(2,2,b) move(3,3) move(3,3,b) move(4,1) move(4,1,c) move(5,3) move(5,3,a) move(6,2) move(6,2,c) move(7,3) move(7,3,c) on(1,3,c) on(2,1,a) on(2,2,b) on(2,3,c) on(3,1,a) on(3,2,b) on(3,3,b) on(4,1,c) on(4,2,b) on(4,3,b) on(5,1,c) on(5,2,b) on(5,3,a) on(6,1,c) on(6,2,c) on(6,3,a) on(7,1,c) on(7,2,c) on(7,3,c) blocked(2,0,c) blocked(2,1,c) blocked(2,2,c) blocked(3,0,a) blocked(3,0,b) blocked(3,0,c) blocked(3,1,b) blocked(3,1,c) blocked(3,2,c) blocked(4,0,a) blocked(4,0,b) blocked(4,1,b) blocked(4,2,b) blocked(5,0,b) blocked(5,0,c) blocked(5,1,b) blocked(5,2,b) blocked(6,0,a) blocked(6,0,b) blocked(6,0,c) blocked(6,1,a) blocked(6,1,b) blocked(6,2,a) blocked(7,0,a) blocked(7,0,c) blocked(7,1,a) blocked(7,1,c) blocked(7,2,a)
SATISFIABLE

Models       : 1
Calls        : 1
Time         : 0.014s (Solving: 0.00s 1st Model: 0.00s Unsat: 0.00s)
CPU Time     : 0.006s

This is the extracted meta data for the ASP formulation

In [6]:
meta_data

{'attr_defs': {'move_2': ['TIME', 'DISK'],
  'move_3': ['TIME', 'DISK', 'PEG'],
  'on_3': ['TIME', 'DISK', 'PEG'],
  'blocked_3': ['TIME', 'DISK', 'PEG'],
  'peg_1': ['PEG'],
  'disk_1': ['DISK'],
  'init_on_2': ['DISK', 'PEG'],
  'goal_on_2': ['DISK', 'PEG']},
 'temporal_decs': {'move_2': [0],
  'move_3': [0],
  'on_3': [0],
  'blocked_3': [0]}}

Now we load the solution using PWE

In [7]:
pw_rels_dfs, rel_schemas, pw_objs = load_worlds(asp_output=clingo_soln, meta_data=meta_data, reasoner='clingo')

Number of Models: 1

In [8]:
list(map(lambda x: x.__dict__, rel_schemas))

[{'relation_name': 'disk_1',
  'arity': 1,
  'r_id': 0,
  'meta_data': {'attr_defs': ['DISK']}},
 {'relation_name': 'peg_1',
  'arity': 1,
  'r_id': 1,
  'meta_data': {'attr_defs': ['PEG']}},
 {'relation_name': 'moves_1', 'arity': 1, 'r_id': 2, 'meta_data': {}},
 {'relation_name': 'init_on_2',
  'arity': 2,
  'r_id': 3,
  'meta_data': {'attr_defs': ['DISK', 'PEG']}},
 {'relation_name': 'on_3',
  'arity': 3,
  'r_id': 4,
  'meta_data': {'attr_defs': ['TIME', 'DISK', 'PEG'], 'temporal_decs': [0]}},
 {'relation_name': 'blocked_3',
  'arity': 3,
  'r_id': 5,
  'meta_data': {'attr_defs': ['TIME', 'DISK', 'PEG'], 'temporal_decs': [0]}},
 {'relation_name': 'goal_on_2',
  'arity': 2,
  'r_id': 6,
  'meta_data': {'attr_defs': ['DISK', 'PEG']}},
 {'relation_name': 'move_2',
  'arity': 2,
  'r_id': 7,
  'meta_data': {'attr_defs': ['TIME', 'DISK'], 'temporal_decs': [0]}},
 {'relation_name': 'move_3',
  'arity': 3,
  'r_id': 8,
  'meta_data': {'attr_defs': ['TIME', 'DISK', 'PEG'], 'temporal_decs': [0]}}]

We have parsed the following relations

In [9]:
pw_rels_dfs.keys()

dict_keys(['disk_1', 'peg_1', 'moves_1', 'init_on_2', 'on_3', 'blocked_3', 'goal_on_2', 'move_2', 'move_3'])

And they are each stored in a Pandas Dataframe which looks like this:

(Also notice that the column names were inferred from the meta_data we parsed earlier)

In [10]:
pw_rels_dfs['on_3']

    pw  TIME DISK PEG
0    1     0    1   a
1    1     0    2   a
2    1     0    3   a
3    1     1    1   a
4    1     1    2   a
5    1     1    3   c
6    1     2    1   a
7    1     2    2   b
8    1     2    3   c
9    1     3    1   a
10   1     3    2   b
11   1     3    3   b
12   1     4    1   c
13   1     4    2   b
14   1     4    3   b
15   1     5    1   c
16   1     5    2   b
17   1     5    3   a
18   1     6    1   c
19   1     6    2   c
20   1     6    3   a
21   1     7    1   c
22   1     7    2   c
23   1     7    3   c

##### All these are hard to make sense of, especially since there's time states involved.
##### A simple groupby on the temporal columns would go a long way

In [11]:
sliced_dfs, sliced_rels, _ = rel_slicer(pw_rels_dfs, rel_schemas, None, ['move_3', 'on_3', 'init_on_2', 'peg_1', 'goal_on_2', 'disk_1'])
timestep_state_map = PWETimeSeriesModule.group_by_time(sliced_dfs, sliced_rels)

In [12]:
timestep_state_map

{'constant': {'init_on_2':    pw DISK PEG
  0   1    1   a
  1   1    2   a
  2   1    3   a, 'peg_1':    pw PEG
  0   1   a
  1   1   b
  2   1   c, 'disk_1':    pw DISK
  0   1    1
  1   1    2
  2   1    3, 'goal_on_2':    pw DISK PEG
  0   1    1   c
  1   1    2   c
  2   1    3   c}, 0: {'on_3':    pw DISK PEG
  0   1    1   a
  1   1    2   a
  2   1    3   a}, 1: {'on_3':    pw DISK PEG
  3   1    1   a
  4   1    2   a
  5   1    3   c, 'move_3':    pw DISK PEG
  0   1    3   c}, 2: {'on_3':    pw DISK PEG
  6   1    1   a
  7   1    2   b
  8   1    3   c, 'move_3':    pw DISK PEG
  1   1    2   b}, 3: {'on_3':     pw DISK PEG
  9    1    1   a
  10   1    2   b
  11   1    3   b, 'move_3':    pw DISK PEG
  2   1    3   b}, 4: {'on_3':     pw DISK PEG
  12   1    1   c
  13   1    2   b
  14   1    3   b, 'move_3':    pw DISK PEG
  3   1    1   c}, 5: {'on_3':     pw DISK PEG
  15   1    1   c
  16   1    2   b
  17   1    3   a, 'move_3':    pw DISK PEG
  4   1    3   a}, 6: {'on_3':     pw DISK PEG
  18   1    1   c
  19   1    2   c
  20   1    3   a, 'move_3':    pw DISK PEG
  5   1    2   c}, 7: {'on_3':     pw DISK PEG
  21   1    1   c
  22   1    2   c
  23   1    3   c, 'move_3':    pw DISK PEG
  6   1    3   c}}

Not very fun to look at either

#### So we can use this built-in text-based visualization for a clearer understanding of the solution

In [13]:
PWETimeSeriesModule.simple_timeseries_text_visualization(timestep_state_map, jupyter=True)

Constants:

init_on_2:

   pw DISK PEG
0   1    1   a
1   1    2   a
2   1    3   a

peg_1:

   pw PEG
0   1   a
1   1   b
2   1   c

disk_1:

   pw DISK
0   1    1
1   1    2
2   1    3

goal_on_2:

   pw DISK PEG
0   1    1   c
1   1    2   c
2   1    3   c

---------------
Timestep 0:
---------------

on_3:

   pw DISK PEG
0   1    1   a
1   1    2   a
2   1    3   a

---------------
Timestep 1:
---------------

on_3:

   pw DISK PEG
3   1    1   a
4   1    2   a
5   1    3   c

move_3:

   pw DISK PEG
0   1    3   c

---------------
Timestep 2:
---------------

on_3:

   pw DISK PEG
6   1    1   a
7   1    2   b
8   1    3   c

move_3:

   pw DISK PEG
1   1    2   b

---------------
Timestep 3:
---------------

on_3:

    pw DISK PEG
9    1    1   a
10   1    2   b
11   1    3   b

move_3:

   pw DISK PEG
2   1    3   b

---------------
Timestep 4:
---------------

on_3:

    pw DISK PEG
12   1    1   c
13   1    2   b
14   1    3   b

move_3:

   pw DISK PEG
3   1    1   c

---------------
Timestep 5:
---------------

on_3:

    pw DISK PEG
15   1    1   c
16   1    2   b
17   1    3   a

move_3:

   pw DISK PEG
4   1    3   a

---------------
Timestep 6:
---------------

on_3:

    pw DISK PEG
18   1    1   c
19   1    2   c
20   1    3   a

move_3:

   pw DISK PEG
5   1    2   c

---------------
Timestep 7:
---------------

on_3:

    pw DISK PEG
21   1    1   c
22   1    2   c
23   1    3   c

move_3:

   pw DISK PEG
6   1    3   c

END

### Building a Custom Visualization for the TOH problem

In [14]:
# More informative custom visualization (still a WIP)
# Inspired by: https://stackoverflow.com/questions/49391076/illustrate-tower-of-hanoi-with-ascii
def toh_viz(timestep_state_map):
    
    NUM_DISKS = len(timestep_state_map['constant']['disk_1'])
    NUM_PEGS = len(timestep_state_map['constant']['peg_1'])
    PEG_SIZE = NUM_DISKS + 2
    
    def get_state(state_df):
        pegs = [[] for _ in range(NUM_PEGS)]
        for i, row in state_df.iterrows():
            pegs[ord(row['PEG']) - ord('a')].append(NUM_DISKS+1-int(row['DISK']))
        pegs = [sorted(peg) for peg in pegs]
        return pegs
    
    def render_ring(ring):
        result = '*' * ring  # the character * repeated ring times.
        return result.center(PEG_SIZE) # add the spaces required
    def render_tower(tower, tower_id):
        result = [render_ring(0) for _ in range(NUM_DISKS-len(tower))] #[]
        for ring in tower:
            result.append(render_ring(ring))
        result.append(str(tower_id).center(PEG_SIZE))
        return result
    def render_final(towers): 
        tower_results = []
        for i, tower in enumerate(towers):
            tower_results.append(render_tower(tower, chr(ord('a')+i)))
        result = []
        for all_rows in zip(*tower_results):
            result.append(''.join(all_rows)) 
        return result
    
    print("Initial State:")
    print('\n'.join(render_final(get_state(timestep_state_map['constant']['init_on_2']))))
    print("")
    print("Goal:")
    print('\n'.join(render_final(get_state(timestep_state_map['constant']['goal_on_2']))))
    print("")
    for t in sorted(set(timestep_state_map.keys()) - set(['constant'])):
        print("Timestep: {}".format(t))
        print("")
        if 'move_3' in timestep_state_map[t]:
            for i, row in timestep_state_map[t]['move_3'].iterrows():
                print("Move {} to peg {}.".format('*'*(NUM_DISKS+1-int(row['DISK'])), row['PEG']))
        print('\n'.join(render_final(get_state(timestep_state_map[t]['on_3']))))
        print("")

##### Now let's use the above user-defined visualization

In [15]:
toh_viz(timestep_state_map)

Initial State:
  *
  **
 ***
  a    b    c

Goal:
            *
            **
           ***
  a    b    c

Timestep: 0

  *
  **
 ***
  a    b    c

Timestep: 1

Move * to peg c.

  **
 ***        *
  a    b    c

Timestep: 2

Move ** to peg b.


 ***   **   *
  a    b    c

Timestep: 3

Move * to peg b.

       *
 ***   **
  a    b    c

Timestep: 4

Move *** to peg c.

       *
       **  ***
  a    b    c

Timestep: 5

Move * to peg a.


  *    **  ***
  a    b    c

Timestep: 6

Move ** to peg c.

            **
  *        ***
  a    b    c

Timestep: 7

Move * to peg c.
            *
            **
           ***
  a    b    c